@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--very-dark-cyan);
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
p {
  max-width: 50ch;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-image: url(../img/bg-hero-desktop.svg);
  background-color: var(--very-pale-cyan);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
body a {
  background-color: #FFF;
  color: var(--very-dark-cyan);
  padding: 0.9rem 3.5rem;
  border-radius: 30px;
  box-shadow: 0px 10px 35px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
body header {
  padding: 2rem 5rem;
  padding-top: 3rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header img {
  width: 11rem;
}
body header a:hover {
  background-color: var(--pink);
  color: var(--very-pale-cyan);
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;
}
body main section {
  width: 100%;
  padding: 2rem 5rem;
}
body main #main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}
body main #main-section .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  align-items: flex-start;
  gap: 1.3rem;
}
body main #main-section .main-text h1 {
  font-size: 2.2rem;
  margin-bottom: 0.2rem;
}
body main #main-section .main-text p {
  font-size: 1rem;
}
body main #main-section .main-text a {
  margin-top: 0.5rem;
  background-color: var(--pink);
  color: var(--very-dark-cyan);
  padding: 0.9rem 3.5rem;
  border-radius: 30px;
  box-shadow: 0px 10px 35px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 0.3s ease-in;
  color: var(--very-pale-cyan);
}
body main #main-section .main-text a:hover {
  color: var(--pink);
  background-color: var(--very-pale-cyan);
}
body main #main-section img {
  max-width: 700px;
}
body main .bg-white-wrapper {
  width: 100%;
  background-color: #fff;
}
body main .bg-white-wrapper #features-section {
  width: inherit;
  padding: 8rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 3rem;
}
body main .bg-white-wrapper #features-section .feature {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  padding: 3rem 5rem;
  box-shadow: 0px 10px 35px 2px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
}
body main .bg-white-wrapper #features-section .feature .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  align-items: flex-start;
  gap: 1rem;
}
body main .bg-white-wrapper #features-section .feature .main-text h2 {
  font-size: 1.5rem;
}
body main .bg-white-wrapper #features-section .feature .main-text p {
  color: var(--grayish-blue);
  font-size: 1rem;
}
body main .bg-white-wrapper #features-section .feature img {
  max-width: 450px;
}
body main .bg-white-wrapper #relative-box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: #fff;
  gap: 2rem;
  margin: 2rem auto;
  width: fit-content;
  box-shadow: 0px 10px 35px 2px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  position: relative;
  top: 6rem;
}
body main .bg-white-wrapper #relative-box-section h1 {
  font-size: 1.75rem;
}
body main .bg-white-wrapper #relative-box-section a {
  background-color: var(--pink);
  color: var(--very-dark-cyan);
  padding: 0.9rem 3.5rem;
  border-radius: 30px;
  box-shadow: 0px 10px 35px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 0.3s ease-in;
  color: var(--very-pale-cyan);
}
body main .bg-white-wrapper #relative-box-section a:hover {
  background-color: var(--very-pale-cyan);
  color: var(--pink);
}
body footer {
  background-color: var(--very-dark-cyan);
  width: 100%;
  padding: 8rem 5rem 3rem 5rem;
}
body footer a {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
}
body footer p {
  color: var(--very-pale-cyan);
  font-size: 0.9rem;
}
body footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
}
body footer .footer-wrapper .bottom-footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .footer-wrapper .bottom-footer-wrapper a img {
  width: 1.5rem;
}
body footer .footer-wrapper .bottom-footer-wrapper .company-information {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  align-items: flex-start;
  gap: 1.5rem;
}
body footer .footer-wrapper .bottom-footer-wrapper .company-information .info {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
}
body footer .footer-wrapper .bottom-footer-wrapper .company-information .info:first-of-type {
  align-items: flex-start;
}
body footer .footer-wrapper .bottom-footer-wrapper .company-information .info:first-of-type img {
  padding-top: 0.2rem;
}
body footer .footer-wrapper .bottom-footer-wrapper ul.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}
body footer .footer-wrapper .bottom-footer-wrapper ul.links li {
  list-style-type: none;
  color: var(--very-pale-cyan);
}

/*# sourceMappingURL=style.css.map */
